body {
  font-family: poppins;
  /* background: #f5f7fb; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.question {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options_btn {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
}

.next_btn,
.prev_btn {
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.show_result {
  margin-top: 15px;
  font-weight: bold;
}
